<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue.JS</title>
  </head>
  <body>
    <div id="root">
      <h1>List of courses</h1>
      <ul>
        <li v-for="course in listOfCourses">{{course}}</li>
      </ul>
      <ul>
        <li v-for="(course, index) in listOfCourses">
          {{index}} => {{course}}
        </li>
      </ul>
      <ul>
        <li v-for="(test) in tests">
          test name : {{test.name}}, test price : {{test.price}}
        </li>
      </ul>
    </div>
    <script src="./js/vue.js"></script>
    <script>
      let vm = new Vue({
        el: "#root",
        data: {
          listOfCourses: [
            "HTML",
            "CSS",
            "JS",
            "REACT",
            "VUE",
            "CPP",
            "C",
            "TYPESCRIPT",
          ],
          tests: [
            {
              name: "A",
              price: 1,
            },
            {
              name: "B",
              price: 2,
            },
            {
              name: "C",
              price: 3,
            },
            {
              name: "D",
              price: 4,
            },
            {
              name: "E",
              price: 5,
            },
            {
              name: "F",
              price: 6,
            },
          ],
        },
      });
    </script>
  </body>
</html>
