<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/main.css" />
    <title>Vue.JS Net-Ninja</title>
  </head>
  <body>
    <div id="root">
      <template v-for="person in persons">
        <h1>{{person.name}}</h1>
        <h2>{{person.age}}</h2>
        <hr />
      </template>
      <template v-for="person in persons">
        <template v-for="(val, key) in person">
          {{key}} : {{val}}
          <br />
        </template>
      </template>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="js/app.js"></script>
  </body>
</html>
